#saad{
    background-color: green;
    width: 10%;
    height: 100px;

}
#sahil{
    background-color: blue;
    width: 10%;
    height: 100px;
    border-radius: 100%;

}
#tejas{
    background-color: red;
    width: 10%;
    height: 100px;

}